html {
    --base-width: 60%;
    --full-width: 100%;
    --base-blue: #2000ffd4;
    --base-orange: #ff8300;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
    font-family: sans-serif;
    /* background: url('../images/background.jpg');
    background-size: cover; */
}

main,
footer {
    max-width: var(--base-width);
    margin: 0 auto;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

a {
    color: var(--base-orange);
    text-decoration: none;
    font-family: sans-serif;
}

nav {
    margin: 0 auto;
    background-color: var(--base-blue);
    max-width: var(--full-width);
}

footer {
    border-top: 1px solid black;
    margin-top: 1.4rem;
    padding: 1.4rem 0;
}

h1 {
    border-bottom: 4px double #ccc;
}

.site-header {
    height: 18rem;
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header .site-title {
    font-size: xx-large;
    background-color: #cccccc57;
    width: 25%;
    padding: 3%;
    text-align: center;
}

.david {
    width: 25%;
}

.colWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.colOne,
.colTwo {
    width: 45%;
}

.imgNoUrlUnderscore {
    text-decoration: none;
}

.numberImg {
    width: 200px;
    height: 200px;
}