{% extends 'base_game.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <h1 class="medievalFont">Cheatsheet</h1>
    <ol>
        <li class="timesNewRoman">Klicka på nyckeln.</li>
        <li class="timesNewRoman">Klicka på låset.</li>
        <li class="timesNewRoman">Gå rakt fram.</li>
        <li class="timesNewRoman">Klicka på spöket.</li>
        <li class="timesNewRoman">Gå till höger.</li>
        <li class="timesNewRoman">Klicka på föremålet som ligger ovanpå bänken till vänster.</li>
        <li class="timesNewRoman">Gå bakåt.</li>
        <li class="timesNewRoman">Gå rakt fram.</li>
        <li class="timesNewRoman">Klicka på staven som du nu har i väskan (nere till vänster).</li>
        <li class="timesNewRoman">Gå rakt fram.</li>
        <li class="timesNewRoman">Slut!</li>
    </ol>
</div>
{% endblock %}
