{% extends 'base_game.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <p class="medievalFont xxLarge">Mitt projekt är ett litet äventyrsspel. Det går ut på att man sitter fängslad i en cell och ska ta sig ut, vilket man gör genom att klicka sig fram genom rummen. På vägen ut måste man ibland använda sig av sakerna man hittar för att komma vidare. Man kan inte fortsätta framåt förrän man har "klarat" ett rum. </p>
</div>
{% endblock %}
