{% extends 'base_game.html.twig' %}

{% block body %}

<div class="example-wrapper">
    <p class="medievalFont xxLarge"><a class="xxLarge" href="{{ path('adventure_app') }}">Spela</a>.</p>
    <p class="medievalFont xxLarge"><a class="xxLarge" href="{{ path('proj_about') }}">Om projektet</a>.</p>
    <p class="medievalFont xxLarge"><a class="xxLarge" href="{{ path('proj_api') }}">Api</a>.</p>
</div>
{% endblock %}
