* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

.gameBackground {
    background-repeat: no-repeat;
    width: 1024px;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    user-select: none;
    box-sizing: border-box;
}

.inventory {
    position: absolute;
    top: 732px;
    left: 377px;
    width: auto;
    height: auto;
}

.message {
    background-color: rgba(0, 0, 0, 0.758);
    color: #ffffff;
    height: auto;
    width: 1024px;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 20px;
    font-family: "MedievalSharp", "Monterrat", sans-serif;
}

.message .closeBtn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}

.message .name {
    font-size: larger;
    border-bottom: 1px solid #ffffff;
    font-family: "MedievalSharp", "Monterrat", sans-serif;
}

.arrows {
    position: absolute;
    top: 650px;
    left: 802px;
    width: auto;
    height: auto;
    text-align: center;
    opacity: 0.8;
}

.arrows .up {
    transform: rotate(315deg);
}

.arrows .down {
    transform: rotate(136deg);
}

.arrows .left {
    transform: rotate(227deg);
}

.arrows .right {
    transform: rotate(45deg);
    margin-left: 40px;
}

/* Other ....................................................................................... */

.main {
    min-height: 72vh;
}

.adventureNav > ul {
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: x-large;
}

.adventureNav,
.adventureFooter {
    margin: 0 auto;
    background-color: #663399;
    max-width: var(--full-width);
}

.adventureNav a,
.adventureFooter {
    font-size: 2.1rem;
    font-weight: bold;
    color: #e2c479;
    font-family: "MedievalSharp", "Monterrat", sans-serif;
    letter-spacing: 2.1px;
}

.adventureFooter {
    position: relative;
    bottom: 0;
    border-top: none;
    text-align: center;
    font-size: large;
    padding: 3rem;
}

.medievalFont {
    font-family: "MedievalSharp", "Monterrat", sans-serif;
}

.medievalFont a {
    font-family: "MedievalSharp", "Monterrat", sans-serif;
    color: #663399;
}

.timesNewRoman {
    font-family: "Times New Roman", sans-serif;
}

.xxLarge {
    font-size: xx-large;
}

.xLarge {
    font-size: x-large;
}

body main form input.medievalFont.medievalSubmit {
    background-color: #663399;
    color: #e2c479;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    transition-duration: 0.2s;
}

body main form input.medievalFont.medievalSubmit:hover {
    background-color: #663399bd;
    cursor: pointer;
    transition-duration: 0.2s;
}