input {
    font-size: 1em;
}

.deck {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 1vw;
}
.card {
    font-size: 5.5vw;
    list-style-type: none;
    background-color: #fff;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 7px;
}

.suit1,
.suit4 {
    color: var(--black-cards);
}

.suit2,
.suit3 {
    color: var(--red-cards);
}