.site-header {
    height: 18rem;
    background-position: top;
    background-size: auto;
    background-repeat: no-repeat;
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.site-header .site-title {
    font-size: xx-large;
    background-color: #cccccc57;
    width: 25%;
    padding: 3%;
    text-align: center;
}