{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>API</h1>
    <ul>
        <li>/api/lucky/number</li>
        <p>Displays a random number and a welcome message.</p>
        <li>/api/quote</li>
        <li>/api/deck</li>
        <li>/api/deck/shuffle</li>
    </ul>

{% endblock %}