{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block body %}
    <h1>API</h1>
    <ul>
        <b>
            <li>/api/lucky/number</li>
        </b>
        <p>Displays a random number and a welcome message.</p>
        <b>
            <li>/api/quote</li>
        </b>
        <p>Displays the current day, timestamp and a random quote.</p>
        <b>
            <li>/api/deck</li>
        </b>
        <p>Displays the deck array data structure.</p>
        <b>
            <li>/api/deck/shuffle</li>
        </b>
        <p>Displays the deck array data structure in random order.</p>
        <b>
            <li>/api/deck/draw</li>
        </b>
        <p>Draws one card and displays it as an array data structure.</p>
        <b>
            <li>/api/deck/draw/{number}</li>
        </b>
        <p>Draws a certain number of cards and displays them as an array data structure.</p>
        <b>
            <li>/api/game</li>
        </b>
        <p>Displays the state of the game.</p>
        <b>
            <li>/api/session/delete</li>
        </b>
        <p>Clears the session.</p>
    </ul>

{% endblock %}