{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Home</h1>
    <p>Hej!</p>
    <p>Jag heter David. Jag är 25 år gammal och uppvuxen söder om Göteborg, men just nu bor jag i den lilla staden Skene. På fritiden gillar jag att spela datorspel, umgås med familj och vänner, läsa böcker och att vara ute i naturen.
    <p>Tidigare har jag sysslat med e-handel - först gick jag en YH-utbildning inom ämnet och sedan fick jag jobb som Webbadmin på Teknikproffset.se. Efter att ha jobbat där i några år kände jag dock att det var dags att prova på något nytt, och det är därför jag är här!</p>
    <img src="{{ asset('img/david.png') }}" class="david">
{% endblock %}