{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Report</h1>
    <h2 id="kmom01"><a href="#kmom01">Kmom01</a></h2>
    <p>Mina tidigare erfarenheter av objektorientering kommer framförallt ifrån Oopython-kursen. Jag känner igen mycket ifrån den kursen, även om syntaxen såklart är annorlunda i PHP. Det tar alltid ett litet tag innan jag hinner "smälta" en ny syntax, så just nu känns det "lite fel" att skriva pilar, this och dollartecken, men det vänjer man ju snabbt sig vid.</p>
    <p>För att kunna göra sina första klasser är nog det viktigaste man behöver känna till att $this hänvisar till instansen av objektet samt att attribut bör göras privata.</p>
    <p>Angående kodbasen känns den väl också lite rörig såhär i början, som vanligt, men samtidigt börjar man bli mer och mer bekant med strukturen från tidigare kurser. Det är mest bild-delen som jag inte riktigt känner att jag har koll på, i och med att man kunde länka till bilderna på flera olika sätt.</p>
    <p>Jag kikade i Code Style Guide, samt laddade ned phpcs, så det var uppenbarligen något som jag fastnade för i PHP: The Right Way. Annars tycker jag att säkerhet känns intressant och framförallt väldigt viktigt.</p>
    <p>Min TIL är att en autoloader kan hjälpa till genom att bara ladda in klasser vid behov. Det var smidigt!</p>
    <h2 id="kmom02"><a href="#kmom02">Kmom02</a></h2>
    <p>Arv i objektorienterad PHP handlar om att en klass kan ärva funktionalitet och attribut från en annan. Den här veckan har vi t.ex. arbetat med CardGrapic som ärver från Card. Detta gör att man får en kod som är mer DRY i och med att man inte behöver skriva samma kod flera gånger. Komposition handlar om att två klasser är kopplade till varandra, på samma sätt som ett hus har ett rum. Med hjälp av ett interface kan man bestämma vilka metoder som en klass måste implementera. Trait har jag inte läst så mycket om än, men jag förstår det som att det handlar om att inkludera andra delar av koden inuti t.ex. en klass.</p>
    <p>Jag utgick ifrån Dice-övningen när jag skulle lösa uppgiten, och försökte göra på ett liknande sätt. Polletten har inte riktigt trillat ner för mig när det kommer till objektorientering än, det känns inte naturligt för mig att jobba med, så jag är glad och nöjd över att jag ändå lyckades lösa uppgiften, även om min lösning kanske inte blev så bra. T.ex. innehåller min CardGraphic-klass alla UTF-8-tecken som representerar korten - när jag sedan skapar min kortlek med CardGraphic-kort får jag alltså 4 sviter * 13 kort för varje instans av CardGraphic, trots att varje kort bara behöver ett tecken. Det hade man säkert kunnat lösa på ett bättre sätt. Jag lyckades inte heller komma på hur jag skulle färga rätt kort röda, jag ville ge dem en CSS-klass och sätta stilen på det sättet, men jag fick inte till det på grund av att jag skriver ut korten som strängar, inte klasser. Om jag skrev ut korten som klasser hade jag kunnat anropa card.getSuite() och använda en if-sats i Twig för att sätta rätt stil, det var i alla fall min plan.</p>
    <p>Det fungerar ganska bra att jobba i Symfony och med MVC. Jag börjar bli lite mer bekväm med filstrukturen.</p>
    <p>Min TIL är att man behöver fixa till sina array-indexes om man tar bort något (ett kort till exempel) från arrayen. Jag var väldigt förvirrad i några timmar innan jag stötte på <a href="https://www.php.net/manual/en/function.array-values.php">array_values</a>.</p>
{% endblock %}