{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Report</h1>
    <h2 id="kmom01"><a href="#kmom01">Kmom01</a></h2>
    <p>Mina tidigare erfarenheter av objektorientering kommer framförallt ifrån Oopython-kursen. Jag känner igen mycket ifrån den kursen, även om syntaxen såklart är annorlunda i PHP. Det tar alltid ett litet tag innan jag hinner "smälta" en ny syntax, så just nu känns det "lite fel" att skriva pilar, this och dollartecken, men det vänjer man ju snabbt sig vid.</p>
    <p>För att kunna göra sina första klasser är nog det viktigaste man behöver känna till att $this hänvisar till instansen av objektet samt att attribut bör göras privata.</p>
    <p>Angående kodbasen känns den väl också lite rörig såhär i början, som vanligt, men samtidigt börjar man bli mer och mer bekant med strukturen från tidigare kurser. Det är mest bild-delen som jag inte riktigt känner att jag har koll på, i och med att man kunde länka till bilderna på flera olika sätt.</p>
    <p>Jag kikade i Code Style Guide, samt laddade ned phpcs, så det var uppenbarligen något som jag fastnade för i PHP: The Right Way. Annars tycker jag att säkerhet känns intressant och framförallt väldigt viktigt.</p>
    <p>Min TIL är att en autoloader kan hjälpa till genom att bara ladda in klasser vid behov. Det var smidigt!</p>
{% endblock %}